<section data-ng-controller="EnginesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Engines</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="engine in engines" data-ng-href="#!/engines/{{engine._id}}" class="list-group-item">
            <small class="list-group-item-text">
                Uploaded on
                <span data-ng-bind="engine.created | date:'mediumDate'"></span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="engine.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="engines.$resolved && !engines.length">
        No engines yet, why don't you <a href="/#!/engines/create">create one</a>?
    </div>
</section>
